<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      formControlName="email"
      name="email"
      type="text"
      required
    />
    <mat-error *ngIf="hasError('email', 'required')">Please enter your email</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      name="password"
      [type]="isShowPassword ? 'text' : 'password'"
    />
    <mat-icon
      matSuffix
      (click)="isShowPassword = !isShowPassword"
    >
      {{ isShowPassword ? 'visibility_off' : 'visibility' }}
    </mat-icon>
    <mat-error *ngIf="hasError('password', 'required')">Please enter your password</mat-error>
  </mat-form-field>
  <button
    mat-button
    type="submit"
    [disabled]="loginForm.invalid"
  >
    Login
  </button>
  <div class="login-question">
    Don’t have own CookBook? <a routerLink="/auth/sign-up">Register now!</a>
  </div>
</form>